.headerButton {
  margin-top: 10px;
}

.headerButton a {
  border: solid 2px white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.headerButton a:hover {
  border: solid 2px #ee7125;
  background: white;
  color: #ee7125;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ee7125;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LinkText {
  color: white;
}
